<table style="width:300px">
<tr>
  <td>1</td>
  <td>2</td> 
  <td>3</td>
  <td>4</td>
  <td>5</td> 
  <td>6</td>
  <td>7</td>
  <td>8</td> 
  <td>9</td>
</tr>
<tr>
  <td>Eve</td>
  <td>Jackson</td> 
  <td>94</td>
</tr>
</table>